@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"), local("Bebas-Neue-Regular"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

h2 {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.6;
  margin: 0;
}

p,
.button {
  font-size: 1rem;
  line-height: 1.6;
}

.content {
  max-width: 90rem;
  width: 100%;
  margin: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5625rem 3.75rem;
  background-color: rgb(92, 142, 230);
  border: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.35px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgb(58, 113, 209);
}

.separator {
  max-width: 150px;
  width: 100%;
  height: 2px;
  background-color: rgb(92, 142, 230);
}

/* Slider */
.slider-buttons {
  display: flex;
}

.slider-buttons button {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 9px 10px;
  cursor: pointer;
  border: 1px solid rgba(235, 235, 240, 0.2);
  border-bottom: none;
}

.slider-buttons button:first-child {
  border-right: none;
}

.slider-buttons button svg {
  fill: #ffffff;
  transition: opacity 0.2s;
}

button.swiper-button-disabled svg {
  opacity: 0.4;
}

.primary-buttons-wrapper .primary-button-prev,
.primary-buttons-wrapper .primary-button-next {
  max-width: 80px;
  border: none;
  padding: 18px 15px;
  background-color: rgb(92, 142, 230);
}

.primary-buttons-wrapper .primary-button-prev svg,
.primary-buttons-wrapper .primary-button-next svg {
  width: 36px;
  height: 24px;
}

.primary-buttons-wrapper .primary-button-prev {
  justify-content: end;
}

.primary-buttons-wrapper .primary-button-next {
  justify-content: start;
}

/* Header */
header {
  padding-top: 5.875rem;
}

.header-image {
  background-image: url("../img/main_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  z-index: 0;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, color 0.2s;
}

.navbar-light {
  background-color: rgb(250, 251, 252);
  border-color: rgb(235, 235, 240);
  color: rgb(41, 45, 51);
}

.navbar-light .header-logo {
  border-color: rgb(235, 235, 240);
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.header-logo {
  padding: 1.4375rem 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  transition: padding 0.2s;
}

.navbar-logo {
  width: 8.75rem;
  height: 2.75rem;
}

.header-logo .logo-light {
  display: inline-block;
}

.header-logo .logo-dark {
  display: none;
}

.navbar-light .header-logo .logo-light {
  display: none;
}

.navbar-light .header-logo .logo-dark {
  display: inline-block;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  margin: 0 1.25rem 0 3.125rem;
}

.header-nav-item {
  height: 100%;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.49px;
  color: inherit;
  text-decoration: none;
  position: relative;
}

.header-nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  position: absolute;
  background-color: rgb(92, 142, 230);
  transition: width 0.2s;
}

.header-nav-link:hover::after {
  width: 100%;
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-right: 3.125rem;
}

.phone-icon {
  fill: #5c8ee6;
}

.header-phone-link {
  color: inherit;
  text-decoration: none;
}

.header-button {
  flex-shrink: 0;
  align-self: stretch;
  padding-right: 3.1875rem;
  padding-left: 3.1875rem;
  letter-spacing: 0.45px;
}

.header-button .button-icon {
  display: none;
}

.header-content {
  position: relative;
  padding-top: 9.375rem;
  color: #ffffff;
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
  margin: 1.5rem 0 2.3rem;
}

.header-text {
  max-width: 45rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  word-spacing: -1px;
  margin-top: 0;
  margin-bottom: 3.125rem;
}

.features-slider {
  margin-top: 6.25rem;
}

.header-features {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
}

.header-features-item {
  padding: 30px 49px;
  height: initial;
  border: 1px solid rgba(235, 235, 240, 0.2);
  border-bottom: none;
}

.header-feature-icon {
  margin-bottom: 20px;
}

.header-feature-text {
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.45px;
}

.features-slider .slider-buttons {
  display: none;
}

/* Mobile menu */
.mobile-menu-toggle,
.mobile-menu {
  display: none;
}

/* Section */
section {
  padding-top: 9rem;
}

.section-light {
  background-color: rgb(250, 251, 252);
}

.section-title {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(41, 45, 51);
  margin: 1.6rem 0 3.125rem;
}

.section-title.mobile,
.btn-link.mobile {
  display: none;
}

.steps {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.step-item {
  max-width: 330px;
}

.step-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  color: rgb(92, 142, 230);
  margin-bottom: 2.3125rem;
}

.step-num::after {
  content: "";
  height: 1px;
  background-color: rgb(235, 235, 240);
  width: 100%;
  display: inline-block;
  margin-left: 30px;
}

.step-item-title {
  color: rgb(41, 45, 51);
  margin-bottom: 10px;
  padding-right: 1.875rem;
  letter-spacing: 0.3px;
}

.step-item-text {
  margin: 0;
  line-height: 1.65;
  letter-spacing: 0.1px;
  color: rgb(130, 138, 153);
  padding-right: 1.875rem;
}

.steps-slider .slider-buttons {
  display: none;
}

.btn-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgb(92, 142, 230);
  text-decoration: none;
}

.btn-link::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgb(92, 142, 230);
  display: inline-block;
  margin-right: 20px;
  transition: width 0.2s;
}

.btn-link:hover::before {
  width: 60px;
}

/* contract production */
.contract-production {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.production-card {
  max-width: 480px;
  width: 100%;
}

.production-card a {
  position: relative;
  display: block;
  min-height: 596px;
  height: 100%;
  border: 1px solid rgb(235, 235, 240);
  text-decoration: none;
  color: inherit;
  transition: border-color 0.2s;
}

.production-card a:hover {
  border-color: rgb(92, 142, 230);
}

.production-card-content {
  padding: 43px 20px 40px 50px;
  margin-bottom: 300px;
}

.production-card-title {
  margin-bottom: 12px;
  letter-spacing: 0.2px;
  color: rgb(41, 45, 51);
  transition: color 0.2s;
}

.production-card a:hover .production-card-title {
  color: rgb(92, 142, 230);
}

.production-card-text {
  margin: 0;
  padding-right: 4.375rem;
  letter-spacing: 0.1px;
  color: rgb(130, 138, 153);
}

.production-card-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* own sbrands */
.own-brands {
  display: flex;
}

.brand-card {
  flex-basis: 50%;
}

.brand-card a {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 3.125rem;
  grid-template-areas:
    "logo title"
    "logo text";
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 3.4375rem 3.125rem;
  border: 1px solid rgb(235, 235, 240);
  transition: border-color 0.2s;
}

.brand-card a:hover {
  border-color: rgb(92, 142, 230);
}

.brand-card-image {
  grid-area: logo;
  width: 180px;
  height: 180px;
  flex-shrink: 0;
  fill: #828a99;
  transition: fill 0.2s;
}

.brand-card a:hover .brand-card-image {
  fill: #5c8ee6;
}

.own-brand-card-title {
  grid-area: title;
  color: rgb(41, 45, 51);
  margin-bottom: 10px;
  transition: color 0.2s;
}

.brand-card a:hover .own-brand-card-title {
  color: #5c8ee6;
}

.own-brand-card-text {
  grid-area: text;
  color: rgb(130, 138, 153);
  margin: 0;
  padding-right: 30px;
}

/* Founder */
.founder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 41.25rem;
  height: 100%;
}

.founder-photo {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 52.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.founder-content-wrapper {
  display: flex;
  justify-content: end;
  position: relative;
}

.founder-content {
  max-width: 45rem;
}

.founder .section-title {
  max-width: 480px;
  margin-bottom: 1.25rem;
}

/* partners */

.partners-wrapper {
  display: flex;
  margin-top: 1.875rem;
  justify-content: space-between;
}

.partners-content {
  flex-basis: 50%;
  margin-right: 20px;
}

.partners-content .section-title {
  margin-top: 0;
  margin-bottom: 2.375rem;
}

.partners-list {
  list-style: none;
  columns: 2;
  padding: 0;
  margin: 0;
}

.partner-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(41, 45, 51);
  margin-bottom: 1.25rem;
}

.partner-list-mark {
  margin-right: 20px;
}

.partners-logo-list {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  text-decoration: none;
}

.partner-logo-item {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(235, 235, 240);
  padding: 1rem;
}

.partner-logo-item img {
  max-width: 70px;
  width: 100%;
  height: auto;
  filter: grayscale(1);
  transition: filter 0.2s;
}

.partner-logo-item img:hover {
  filter: grayscale(0);
}

/* blog */
.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  text-decoration: none;
  min-height: 25rem;
  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
  z-index: -1;
}

.blog-card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-card-title {
  margin: 0;
  margin-bottom: 0.625rem;
  font-size: 1.75rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}

.blog-card-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}

.blog-slider-footer {
  margin-top: 1.875rem;
  display: flex;
  justify-content: space-between;
}

.blog-slider-footer .btn-link {
  margin-top: 0;
}

.blog-slider .slider-buttons {
  max-width: 160px;
  width: 100%;
  justify-content: end;
}

/* CTA */
.cta {
  position: relative;
  background-color: rgb(240, 242, 245);
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 100%;
  height: auto;
}

.cta-wrapper {
  display: flex;
  justify-content: end;
}

.cta-content {
  max-width: 52.5rem;
  width: 60%;
}

.cta .section-title {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.cta-from-text {
  margin: 0;
  margin-bottom: 3.125rem;
  max-width: 40rem;
  color: rgb(130, 138, 153);
}

.input-group-wrapper {
  display: flex;
  gap: 20px 30px;
  margin-bottom: 1.875rem;
}

.input-group {
  flex-basis: 50%;
  position: relative;
}

.input-group label {
  position: absolute;
  top: 1.5rem;
  left: 1.95rem;
  font-size: 1rem;
  padding: 0 0.625rem;
  color: rgb(130, 138, 153);
  background-color: rgb(240, 242, 245);
  cursor: text;
  transition: all 0.2s;
}

.input-group input {
  width: 100%;
  padding: 1.25rem 1.875rem;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 600;
  color: rgb(41, 45, 51);
  border: 1px solid rgb(228, 228, 235);
  background-color: rgb(240, 242, 245);
  transition: border-color 0.2s;
}

.input-group input:focus {
  outline: none;
  border-color: rgb(92, 142, 230);
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown):not(:focus) ~ label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 10px;
}

.cta-form-footer {
  display: flex;
  align-items: center;
}

.cta-form-button {
  flex-shrink: 0;
  font-size: 14px;
  margin-right: 30px;
  padding: 1.25rem 3.125rem;
}

.cta-form-notify {
  display: flex;
}

.cta-form-notify svg {
  flex-shrink: 0;
  margin-top: 2px;
  margin-right: 10px;
}

.cta-form-notify p {
  margin: 0;
  font-size: 12px;
  max-width: 400px;
  color: rgb(130, 138, 153);
}

@media (max-width: 1760px) {
  .header-phone {
    margin-right: 1.5625rem;
  }
  .header-nav {
    margin: 0 1.25rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1.5625rem;
  }
  .header-logo {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
  .founder-photo {
    width: 45%;
  }
  .cta-image {
    width: 43%;
  }
}

@media (max-width: 1568px) {
  html {
    font-size: 14px;
  }
  .production-card {
    flex-basis: 33%;
    width: 33%;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
  p,
  .button,
  .partner-item {
    font-size: 14px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  .header-button {
    padding-right: 2.7rem;
    padding-left: 2.7rem;
  }
  .cta {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media (max-width: 1200px) {
  .content {
    max-width: 80rem;
  }
  .separator {
    max-width: 100px;
  }
  .navbar-logo {
    width: 7rem;
    height: 2rem;
  }
  .header-phone {
    display: none;
  }
  .features-slider .slider-buttons,
  .steps-slider .slider-buttons {
    display: flex;
  }
  .steps-slider .slider-buttons {
    justify-content: end;
    margin-top: 20px;
  }
  /* contract production */
  .production-card {
    width: 50%;
    flex-basis: 50%;
  }
  /* own brands */
  .brand-card a {
    padding: 29px 30px 30px 29px;
    grid-template-columns: 100px 1fr;
    column-gap: 30px;
  }
  .brand-card-image {
    width: 100px;
    height: 100px;
  }
  /* founder */
  .founder-content {
    max-width: 35rem;
  }
  /* partners */
  .partners-logo-list {
    flex-basis: 40%;
  }
  .partners-content {
    flex-grow: 1;
  }
  .partner-logo-item img {
    max-width: 55px;
  }
  /* cta */
  .cta-image {
    left: -10%;
    width: 55%;
    max-width: 65rem;
  }
  .cta-content {
    width: 50%;
  }
  .input-group-wrapper {
    flex-wrap: wrap;
  }
  .input-group {
    flex-basis: 100%;
  }
}

@media (max-width: 992px) {
  .content {
    max-width: 70rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: padding 0.2s;
  }
  .navbar-light .header-logo {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-logo {
    width: 120px;
    height: 38px;
  }
  .header-button .button-text {
    display: none;
  }
  .header-button {
    width: 80px;
    padding: 22px;
    transition: padding 0.2s;
  }
  .navbar-light .header-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-button .button-icon {
    display: block;
    fill: #fff;
  }
  .mobile-menu-toggle {
    display: flex;
    flex-direction: column;
    padding: 26px 22px 22px 30px;
    width: 80px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    transition: padding 0.2s, border-color 0.2s;
  }
  .navbar-light .mobile-menu-toggle {
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: rgb(235, 235, 240);
  }
  .mobile-menu-line {
    background-color: #fff;
    width: 20px;
    height: 1px;
    transition: transform 0.2s linear;
  }
  .mobile-menu-line:not(:last-child) {
    margin-bottom: 5px;
  }
  .mobile-menu-line:nth-child(2) {
    width: 15px;
    transition: opacity 0.2s linear;
  }
  .navbar-light .mobile-menu-line {
    background-color: rgb(41, 45, 51);
  }
  .btn-close .mobile-menu-line:nth-child(2) {
    opacity: 0;
  }
  .btn-close .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(5px) translateX(6.5px);
  }
  .btn-close .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-5px) translateX(6.5px);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    overflow-y: auto;

    background-color: rgb(250, 251, 252);
    padding-top: 52px;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    margin: 0;
    padding: 15px;
    padding-top: 30px;
    list-style: none;
    border-bottom: 1px solid rgb(235, 235, 240);
  }
  .mobile-menu-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .mobile-menu-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.6;
    color: rgb(41, 45, 51);
    text-decoration: none;
  }
  .mobile-submenu {
    margin-top: 1.7rem;
    padding-left: 1.7rem;
    list-style: none;
  }
  .mobile-submenu-item {
    margin-bottom: 10px;
  }
  .mobile-menu-submenu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: rgb(130, 138, 153);
    text-decoration: none;
  }
  .mobile-menu-contact {
    padding: 15px;
    padding-top: 30px;
  }
  .mobile-menu-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(41, 45, 51);
    text-decoration: underline;
    margin-bottom: 20px;
  }
  .mobile-menu-contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .mobile-menu-contact-icon {
    margin-right: 10px;
  }
  .mobile-menu-contact-text {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    color: rgb(41, 45, 51);
    text-decoration: none;
  }
  .mobile-menu-social {
    margin-top: 20px;
  }
  .mobile-menu-social-icon {
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
  }
  /* slider */
  .primary-buttons-wrapper .primary-button-prev,
  .primary-buttons-wrapper .primary-button-next {
    max-width: 60px;
    padding: 10px 15px;
  }
  .primary-buttons-wrapper .primary-button-prev svg,
  .primary-buttons-wrapper .primary-button-next svg {
    width: 30px;
    height: 20px;
  }
  /* own brands */
  .own-brands {
    flex-direction: column;
  }
  .brand-card {
    flex-basis: 100%;
  }
  .own-brand-card-text {
    padding-right: 0;
  }
}

@media (max-width: 900px) {
  .content {
    max-width: 60rem;
  }
  .header-title {
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .header-content {
    padding-top: 6rem;
  }
  /* contract production */
  .production-card a {
    min-height: 431px;
  }
  .production-card-content {
    padding: 17px 35px 20px 28px;
    margin-bottom: 250px;
  }
  .production-card-content-top {
    padding-top: 19px;
  }
  .production-card-text {
    padding-right: 0;
  }
  /* founder */
  .founder {
    justify-content: center;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
  }
  .founder-content-wrapper {
    justify-content: center;
  }
  /* partners */
  .partners-wrapper {
    flex-direction: column;
  }
  .partners-content {
    margin-right: 0;
    margin-bottom: 30px;
  } /* cta */
  .cta-image {
    display: none;
  }
  .cta-wrapper {
    justify-content: start;
  }
  .cta-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 45rem;
  }
  .header-content {
    padding-top: 48px;
  }
}

@media (max-width: 576px) {
  .content {
    max-width: 100%;
    padding: 0 15px;
  }
  .content.no-padding {
    padding: 0;
  }
  section {
    padding-top: 100px;
  }
  .header-text {
    margin-bottom: 2.5rem;
  }
  .header-content .button {
    width: 100%;
  }
  .features-slider {
    margin-top: 50px;
    padding: 0 15px;
  }
  .header-features-item {
    max-width: 250px;
    padding: 22px 28px;
  }
  .header-feature-icon {
    margin-bottom: 18px;
  }
  .header-feature-text {
    word-spacing: -1px;
  }
  .features-slider .slider-buttons {
    margin: 0 -15px;
  }
  .features-slider .slider-buttons button {
    border-right: none;
    border-left: none;
  }
  .features-slider .slider-buttons button:last-child {
    border-left: 1px solid rgba(235, 235, 240, 0.2);
  }
  /* Step */
  .steps-slider {
    padding: 0 15px;
  }
  .section-title.table,
  .btn-link.table {
    display: none;
  }
  .section-title.mobile {
    display: block;
  }
  .btn-link.mobile {
    display: flex;
  }
  .section-title {
    margin: 17px 0 32px;
  }
  .step-item {
    max-width: 300px;
  }
  .step-num {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .step-item-title {
    letter-spacing: 0;
    margin-bottom: 5px;
  }
  .step-item-text {
    padding-right: 0;
  }
  .btn-link {
    margin-top: 25px;
    font-size: 14px;
  }
  /* contract production */
  .contract-production {
    margin-bottom: -3px;
  }
  .production-card {
    width: 100%;
    flex-basis: 100%;
  }
  .production-card-image {
    max-width: 400px;
  }
  .production-card-title {
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    line-height: 1.3;
  }
  .production-card-text {
    letter-spacing: 0.2px;
    word-spacing: -0.2px;
  }
  /* own brands */
  .brand-card a {
    grid-template-areas:
      "logo title"
      "text text";
    row-gap: 18px;
  }
  .brand-card {
    flex-basis: 100%;
  }
  .own-brand-card-title {
    line-height: 1.3;
  }
  /* founder */
  .founder .section-title {
    margin-bottom: 10px;
  }
  .founder .btn-link {
    margin-top: 20px;
  }
  /* partners */
  .partners-wrapper {
    margin-top: 20px;
  }
  .partners-list {
    columns: 1;
  }
  .partner-item {
    margin-bottom: 15px;
  }
  .partners-logo-list {
    flex-basis: 100%;
  }
  .partner-logo-item {
    flex-basis: 50%;
    padding: 2.5rem;
  }
  .partner-logo-item:last-child {
    display: none;
  }
  .partner-logo-item img {
    max-width: 50px;
  }
  /* blog */
  .blog-card {
    min-height: 195px;
  }
  .blog-card-text {
    display: none;
  }
  .blog-card {
    padding: 20px;
  }
  .blog-card-title {
    font-size: 20px;
  }
  .blog-slider-footer {
    margin-top: 20px;
  }
  .blog-slider .slider-buttons {
    max-width: 120px;
  }
  /* cta */
  .cta {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .input-group-wrapper {
    margin-bottom: 10px;
  }
  .cta-form-footer {
    flex-direction: column;
    align-items: start;
  }
  .cta-form-button {
    margin-right: 0;
    margin-bottom: 30px;
    flex-shrink: 1;
    width: 100%;
  }
}
