@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"), local("Bebas-Neue-Regular"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.content {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 60px;
  background-color: rgb(92, 142, 230);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.35px;
  cursor: pointer;
}

.separator {
  max-width: 150px;
  height: 2px;
  background-color: rgb(92, 142, 230);
}

/* Header */
header {
  min-height: 100vh;
  padding-top: 94px;
}

.header-image {
  background-image: url("../img/main_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  z-index: 0;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, color 0.2s;
}

.navbar-light {
  background-color: rgb(250, 251, 252);
  color: rgb(41, 45, 51);
}

.navbar-light .header-logo {
  border-color: rgb(235, 235, 240);
}

.header-logo {
  padding: 23px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  transition: padding 0.2s;
}

.navbar-light .header-logo {
  padding: 15px 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  margin: 0 50px;
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-link {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.49px;
  color: inherit;
  text-decoration: none;
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-right: 50px;
}

.header-phone-link {
  color: inherit;
  text-decoration: none;
}

.header-button {
  flex-shrink: 0;
  align-self: stretch;
  padding: 34px 51px;
  letter-spacing: 0.45px;
}

.header-content {
  position: relative;
  padding-top: 150px;
  color: #ffffff;
}

.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  line-height: 1.2;
  font-weight: 400;
  margin: 20px 0 40px;
}

.header-text {
  max-width: 720px;
  font-weight: 300;    
  letter-spacing: 0.45px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
}

.header-features {
  position: relative;
  display: flex;
  padding: 0;
  margin: 100px 0 0;
  color: #fff;
  list-style: none;
}

.header-features-item {
  flex-basis: 20%;
  padding: 30px 49px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-feature-icon {
  margin-bottom: 18px;
}

.header-feature-text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.45px;
}

/* Section */
section {
  padding-top: 150px;
}

.section-light {
  background-color: rgb(250, 251, 252);
}

.section-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  color: rgb(41, 45, 51);
  margin: 23px 0 50px;
}

.steps {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.step-item {
  max-width: 330px;
  padding-right: 30px;
}

.step-num {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  color: rgb(92, 142, 230);
  margin-bottom: 35px;
}

.step-num::after {
  content: "";
  height: 1px;
  background-color: rgb(235, 235, 240);
  width: 100%;
  display: inline-block;
  margin-left: 30px;
}

.step-item-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  color: rgb(41, 45, 51);
  margin-top: 0;
  margin-bottom: 10px;
}

.step-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.1px;
  color: rgb(130, 138, 153);
}

.step-link {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  color: rgb(92, 142, 230);
  text-decoration: none;
}

.step-link::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgb(92, 142, 230);
  display: inline-block;
  margin-right: 20px;
}
